- if @labgroup.errors.any?
  =render 'shared/errors', errors: @labgroup.errors
.row
  .col-md-6
    .form-group
      =f.label :name, "Name"
      =f.text_field :name, class: 'form-control', placeholder: 'Name'
    .form-group
      =f.label :code, "Code"
      =f.text_field :code, class: 'form-control', placeholder: 'Code'
    .form-group
      =f.label :location_id, "Location"
      =f.collection_select :location_id, Location.all, :id, :building_room, { include_blank: '-Location-', selected: @labgroup.location_id }, { class: 'form-control' }
    %p= link_to "Add a new location", new_location_path
    =hidden_field_tag "form_type", "admin"

