.page-header
  %h1 Sample types
%table#admin-table.table.table-hover.table-striped.table-responsive.sample-type-table
  %thead
    %tr
      %th.name Name
      %th.actions Actions
  %tbody
    - @sample_types.each do |st|
      %tr
        %td= st.name
        %td.sample-type-admin-actions
          = link_to 'Edit', edit_sample_type_path(st), class: 'btn btn-primary'
          = link_to 'Delete', sample_type_path(st), data: { confirm: 'Are you sure you want to delete this sample type?' }, class: 'btn btn-danger', remote: true, method: :delete
