- if @platform.errors.any?
  =render 'shared/errors', errors: @platform.errors
.row
  .col-md-6
    .form-group
      =f.label :name, "Name"
      =f.text_field :name, class: 'form-control', placeholder: 'Name', required: true
    .form-group
      =f.label :code, "Code"
      =f.text_field :code, class: 'form-control', placeholder: 'Code', required: true
