.page-header
  %h1 Platforms
%table#admin-table.table.table-hover.table-striped.table-responsive.platform-table
  %thead
    %tr
      %th.name Name
      %th.code Code
      %th.actions Actions
  %tbody
    - @platforms.each do |plat|
      %tr
        %td= plat.name
        %td= plat.code
        %td.location-admin-actions
          = link_to 'Edit', edit_platform_path(plat), class: 'btn btn-primary'
          = link_to 'Delete', platform_path(plat), data: { confirm: 'Are you sure you want to delete this platform?' }, class: 'btn btn-danger', remote: true, method: :delete
