%h1 CCGD account approved

%p Welcome to the CCGD proposal submission website! The website administrator just approved your user account. You can log in here: <a href="http://ccgd.dfci.harvard.edu">http://ccgd.dfci.harvard.edu</a>

%p Thank you, <br /> -CCGD Administrator
