%h1 Password reset

-# require 'cgi'
-#%p= CGI::unescapeHTML( CGI::unescape( link_to "Reset your password", edit_password_reset_url(@user.password_reset_token, email: @user.email) ) )

-# This is a really ugly hack to force the email address in the url to render propoerly
- url = root_url.concat("/password_resets/").concat(@user.password_reset_token).concat("/edit?email=#{@user.email}")

<p> <a href="#{ url }">Reset your password</a></p>

%p You are receiving this email because you chose to reset your password. If you did not choose to reset your password or you chose to by accident, ignore this email and your password will remain unchanged.

%p -CCGD Administrator
