%h1 Password reset

%p= link_to "Reset your password", edit_password_resets_url(@user.password_reset_token)

%p You are receiving this email because you chose to reset your password. If you did not choose to reset your password or you chose to by accident, ignore this email and your password will remain unchanged.

%p -CCGD Administrator
