=f.fields_for :user_custom_organization do |uco|
  .form-group
    =uco.label :custom_org_name, "Organization name"
    =uco.text_field :custom_org_name, class: 'form-control', placeholder: 'Organization name'
  .form-group
    =uco.label :custom_org_phone, "Organization phone"
    =uco.text_field :custom_org_phone, class: 'form-control', placeholder: 'Organization phone'
  .form-group
    =uco.label :custom_org_email, "Organization email"
    =uco.text_field :custom_org_email, class: 'form-control', placeholder: 'Organization email'
  .form-group
    =uco.label :custom_org_street, "Street"
    =uco.text_field :custom_org_street, class: 'form-control', placeholder: 'Street'
  .form-group
    =uco.label :custom_org_city, "City"
    =uco.text_field :custom_org_city, class: 'form-control', placeholder: 'City'
  .form-group
    = uco.label :state_id, "State (if applicable)"
    = uco.select :state_id, State.all.order(name: :asc).collect { |state| [state.code, state.id] }, { include_blank: '-State-' }, { class: 'form-control' }
  .form-group
    =uco.label :custom_org_country, "Country"
    =uco.text_field :custom_org_country, class: 'form-control', placeholder: 'Country'

