%h1 Create a CCGD user account
%p Please complete all form fields below and click the "Submit" button. You will receive an email from the CCGD admin about the status of your user account.
= form_for(@user) do |f|
  = render 'user_fields', f: f
  .form-group
  = f.submit "Create user account", class: 'btn btn-primary btn-lg'

