(function() {
  var add_container = '<div class="add_success"></div>';
  var add_text = '<p class="">_____ successfully added<p>';
  var labs_orgs = $('#labs_and_orgs');
  labs_orgs.find('#org').children().remove();
  labs_orgs.find('#org').append(add_container);
  labs_orgs.find('.add_success').append(add_text).hide();
  labs_orgs.find('.add_success').fadeIn(400, function() {
    $(this).find('p').show();
  });
})();
