.page-header
  %h1 Committee vote
= render 'shared/proposal_static_data', proposal: @proposal
= form_for [@proposal, @committee, @member_vote] do |f|
  = render 'voting_fields', f: f
  = f.submit "Cast vote", class: 'btn btn-primary btn-lg'
