.page-header
  %h1 Form a new committee
= render 'shared/proposal_static_data', proposal: @proposal
- if can? :manage, Committee
  %h2 Administrator area
  #committee-formation.panel.panel-admin
    .panel-heading
      %h3.panel-title Set a deadline and choose committee members
    .panel-body
      = form_for [@proposal, @committee] do |f|
        = render 'committee_fields', f: f
        = f.submit "Form committee", class: 'btn btn-primary btn-lg'
