.form-group
  %button.btn.btn-default(type="button" data-toggle="modal" data-target="#ccgd-policy") Accept CCGD policy
#ccgd-policy.modal.fade
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true")x
        %h4.modal-title CCGD Policy
      .modal-body 
        %p CCGD policy text to go here
      .modal-footer
        %button.btn.btn-default(data-dismiss="modal") Close
        %button#ccgd-policy-button.btn.btn-info(data-dismiss="modal") Accept terms
