%h1 Update #{ @proposal.name } proposal
%p Continue working on your proposal or update any fields. Once complete, either click the "Save" button to save and continue working later or the "Submit proposal" button to submit it to CCGD.
= form_for(@proposal) do |f|
  =render 'proposal_fields', f: f
  = f.submit "Save proposal", class: 'btn btn-default btn-lg'
  = button_to "Submit proposal", edit_proposal_path(@proposal, submitted: true), data: { confirm: 'Are you sure you want to submit this proposal?'}, class: 'btn btn-primary btn-lg' , remote: true
