// Custom styles
.wrap-color {
  background: #444;
}

.white {
  background: #fff;
}

header {
  background: #fff;
}

header, footer {
  height: 80px;
}

.main-content {
  padding-bottom: 40px;
}

.add-btn {
  margin: 10px 0;
}

.lt-txt {
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.add-success {
  width: 75%;
  margin: 10px 0;
  p {
    margin: 19px 10px 23px;
    font-size: 110%;
  }
}

.alert-error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.centered {
  text-align: center;
}

// Tables
.user-table {
  th.org {
    width: 30%;
  }
}

.proposal-table {
  th.status {
    width: 30%;
  }
  th.actions {
    width: 20%;
  }
}

.proposal-admin-actions {
  select, button, a {
    margin: 0 8px 8px 0;
  }
}
