// Custom styles
.wrap-color {
  background: #444;
}

.white {
  background: #fff;
}

header {
  background: #fff;
}

header, footer {
  height: 80px;
}

.main-content {
  padding-bottom: 40px;
}

.add-btn {
  margin: 10px 0;
}
