// Custom styles
/* Variables */

$dark-blue: #004272;
$turquoise: #56B4D8;
$brown: #d4a671;
$red: #ab002c;
$dark-red: #5E0927;
$primary: #225d8e;
$primary-dk: #0d3252;
$info: #52afd8;
$success: #4da654;
$danger: #af1219;

html {
  font-size: 14px;
}

body {
  font-size: 18px;
  background: #C0DBE7;
}

.wrap-color {
}

.white {
  background: #fff;
}

header {
  background: $dark-blue;
  padding: 22px 0;
}

header, footer {
}

// main nav
.navbar {
  padding: 10px 0;
  .navbar-nav > li > a {
    font-size: 20px;
  }
}

.navbar-default {
  border: none;
  .navbar-nav > li > a {
    color: $dark-blue;
  }
  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a.active-item {
    color: $turquoise;
  }
}

// Side nav
.side-nav {
  margin-top: 20px;
  text-align: center;
  li a {
    border-bottom: $info 1px solid;
    color: $red;
  }
  li:last-child a {
    border: none;
  }
  li a.active-item,
  li a:hover {
    background: none;
    color: $dark-red;
  }
}

.main-content {
  padding: 0 0 40px 25px;
}

h1 {
  color: $dark-blue;
  font-size: 2.0em;
}

h2 {
  text-transform: uppercase;
  color: $brown;
  font-size: 1.3em;
  font-weight: 100;
  border: none;
}

h3 {
  font-size: 1.1em;
  color: $red;
}

a {
  color: $turquoise;
}

a:hover {
  color: $dark-blue;
}

.page-header {
  border-bottom: $dark-blue 1px solid;
  padding-bottom: 0;
  margin: 0 0 60px 0;
}

.panel-info {
  border-color: $info;
}

.add-btn {
  margin: 10px 0;
}

.lt-txt {
  font-weight: bold;
}

// Home
.login-form {
  margin: 30px 0;
  padding: 10px 20px;
  .form-group {
    margin-bottom: 20px;
  }
  .btn {
    margin: 20px 0;
  }
}

// Buttons

.btn-default, .btn-default:hover,
.btn-primary, .btn-primary:hover,
.btn-info, .btn-info:hover,
.btn-success, .btn-success:hover,
.btn-danger, .btn-danger:hover {
  border: none;
}

.btn-default {
}

.btn-primary {
  background: $primary;
}

.btn-primary:hover {
  background: $primary-dk;
}

.btn-info {
  background: $info;
}

.btn-success {
  background: $success;
}

.btn-danger {
  background: $danger;
}

.section {
  margin-bottom: 40px;
}

.no-list {
  list-style: none;
  padding-left: 0;
}

.add-success {
  width: 75%;
  margin: 10px 0;
  p {
    margin: 19px 10px 23px;
    font-size: 110%;
  }
}

.alert-error {
  background: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.centered {
  text-align: center;
}

// Tables
.user-admin-table {
  th.org {
    width: 30%;
  }
}

.proposal-table {
  th.status {
    width: 30%;
  }
  th.actions {
    width: 20%;
  }
}

.proposal-admin-actions {
  select, button, a {
    margin: 0 8px 8px 0;
  }
}

.small-text-field {
  width: 100px;
}

footer {
  border-top: $turquoise 5px solid;
}
