%nav
  %ul.nav.nav-pills.nav-stacked
    %li 
      = link_to "Home", root_url
    - if logged_in?
      %li.dropdown
        %a(href="#" class="dropdown-toggle" data-toggle="dropdown") User menu <b class="caret"></b>
        %ul.dropdown-menu
          %li= link_to "My profile", current_user
          %li= link_to "Logout", logout_path, method: "delete"
